.body_basket_pg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.basketImg{
    text-align: right;
}

.countProducts{
    margin-right: -70px;
    color: blue;
    font-weight: bold;
}