<!DOCTYPE html>
<html lang="en" xmlns:th = http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
    </style>


    <link rel="stylesheet" href="css/mainPage.css">

</head>
<body>

<div class="header">
    <a href="/" id = "pg_1">Резюме на практике.</a>
</div>


<div class="body">
    <div class="info">
        <p>Реализации</p>
        <div id = "info_2"><a href="/save">Классическое crud приложение</a></div>
        <div>logger</div>
        <div>Капча - если реализую</div>
        <div id = "basket_pg"><a href="basket">Продуктовая корзина</a></div>
        <div></div>
    </div>
    <div class="description" id = "interactive">
        Немного о себе!
        Здравствуйте! Меня зовут Алексей и я считаю, что лучше 1 раз показать, чем 100 раз расказать, и что резюме с ссылкой на гит хаб репозиторий с непонятным кодом - не всегда интересно,
            по этому на данной страничке я решил немного показать на практике из того, что я умею. Вообще, я работаю инженером НТ,
            но в данном примере, так как средства нагрузочного тестирования и умение ими пользоваться сложно визуализировать,
            они осутствуют. Основной язык в данном проэкте это - Java + Spring framework, немножко JS ну и куда же без HTML и CSS,
            забыл добавить что всё это дело крутится в контейнере docker на облачном сервере, в дальнейшем хочу автоматизировать его сборку
            с помощью Jenkins, но а пока всё делаю ручками. В окошке с лева мини реализации с их описанием.

    </div>
</div>

<div class="footer">

</div>
</body>
</html>