<!DOCTYPE html>
<html lang="en" xmlns:th = http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  type="text/css" rel="stylesheet" href="css/ok.css">
</head>
<body>
<div class="header"></div>
<div class="body">
    <div>
        <form action="/save" method="post">
            Имя : <input type="text" name="name" class="inputtt"> <br>
            фамилия : <input type="text" name="lastName"><br>
            возраст : <input type="number" name="age"><br>
            Town : <input type="text" name="town"><br>
            Country : <input type="text" name="country"><br>
            <input type="submit" value="submit"><br>
        </form>
    </div>
    <div>
        <p>Общее количество городов : <span th:text = "${countTown}"></span></p>
    </div>
    <div class="townList">
        <ul th:each="town : ${towns}">
            <li th:text="${town.getName()}"></li>
        </ul>
    </div>
</div>
</body>
</html>